* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style-type: none;
  outline: none;
  font-family: "Rubik", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #162EAE;
  padding: 10px 59px;
}
header nav {
  display: flex;
  align-items: center;
  gap: 56px;
}
header nav a {
  color: white;
  font-size: 24px;
  transition: 0.3s ease-out;
}
header nav a:hover {
  color: rgb(207, 207, 207);
}
header nav img {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100%;
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  background-color: #4A60D7;
  transition: right 0.3s ease-in-out;
  padding: 20px;
  z-index: 1000;
}
.sidebar a {
  color: white;
  font-size: 20px;
  transition: 0.3s ease-out;
}
.sidebar a:hover {
  color: rgb(207, 207, 207);
}
.sidebar button {
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
}

.sidebar.active {
  right: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.container .hero-block-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.container .hero-block-wrapper .hero-block {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1800px;
}
.container .hero-block-wrapper .hero-block .content {
  display: flex;
  gap: 683px;
  width: 100%;
}
.container .hero-block-wrapper .hero-block .content h1 {
  font-size: 80px;
  font-weight: 400;
}
.container .line {
  width: 100%;
  height: 1px;
  border: 1px solid #E7E7E7;
}
.container .about-us {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 1350px;
}
.container .about-us p {
  font-size: 25px;
  font-weight: 400;
}
.container .about-us .text-photos {
  display: flex;
  gap: 108px;
}
.container .about-us .text-photos .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .about-us .text-photos .text .title h2 {
  font-size: 32px;
  font-weight: 600;
}
.container .about-us .text-photos .text .facts p {
  font-size: 30px;
  font-weight: 400;
}
.container .about-us .text-photos .photos {
  display: flex;
  gap: 108px;
}
.container .about-us .text-photos .photos img {
  width: 280px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #162EAE;
  color: white;
  padding: 60px 20px;
  font-size: 22px;
  margin-top: 200px;
}
footer .content {
  width: 100%;
  max-width: 1613px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
footer .content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
footer .content .top nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .content .top nav a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: 0.3s ease-out;
}
footer .content .top nav a:hover {
  color: rgb(207, 207, 207);
}
footer .content .top .contact {
  display: flex;
}
footer .content .top .contact a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  transition: 0.3s ease-out;
}
footer .content .top .contact a:hover {
  color: rgb(207, 207, 207);
}
footer .content .bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 16px;
  gap: 50px;
}
footer .content .bottom p {
  margin: 0;
  font-size: 24px;
}

@media (max-width: 1803px) {
  .container .hero-block-wrapper .hero-block .content {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .container .hero-block-wrapper .hero-block .content h1 {
    width: 100%;
  }
}
@media (max-width: 1500px) {
  .container .hero-block-wrapper .hero-block .content img {
    width: 700px;
  }
}
@media (max-width: 1069px) {
  header .logo img {
    width: 100px;
  }
  header nav a {
    font-size: 16px;
  }
}
@media (max-width: 1062px) {
  .container .hero-block-wrapper .hero-block .content h1 {
    font-size: 64px;
  }
  .container .hero-block-wrapper .hero-block .content img {
    width: 500px;
  }
}
@media (max-width: 1042px) {
  .about-us .text-photos {
    flex-direction: column;
    gap: 40px !important;
  }
}
@media (max-width: 900px) {
  header nav a {
    display: none;
  }
  header nav img {
    display: flex !important;
  }
}
@media (max-width: 667px) {
  .about-us .text-photos .text .title h2 {
    font-size: 24px !important;
  }
  .about-us .text-photos .text .facts p {
    font-size: 20px !important;
  }
  .about-us .text-photos .photos img {
    width: 200px !important;
  }
  .about-us p {
    font-size: 22px !important;
  }
}
@media (max-width: 500px) {
  .container .hero-block-wrapper .hero-block .content h1 {
    font-size: 32px;
  }
  .container .hero-block-wrapper .hero-block .content img {
    width: 300px;
  }
}
@media (max-width: 507px) {
  .container .about-us {
    text-align: center;
  }
  .container .about-us .text-photos {
    text-align: center;
    align-items: center;
  }
  .container .about-us .text-photos .photos {
    flex-direction: column;
    gap: 40px;
  }
}/*# sourceMappingURL=about-us.css.map */