$bgOne: #162EAE;
$bgTwo: #4A60D7;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style-type: none;
  outline: none;
  font-family: 'Rubik', sans-serif;
}
    .Heroblock_Kap{
        display: flex;
        justify-content: center;
        padding:50px;
        .desktop{
            max-width: 1820px;
            width: 100%;
        }
        .mobile{
            display: none;
        }
    }
    header{
        display: flex;
        justify-content: space-between;
        background-color: $bgOne;
        padding: 10px 59px;
        nav{
          display: flex;
          align-items: center;
          gap: 56px;
          a{
            color: white;
            font-size: 24px;
            transition: 0.3s ease-out;
            &:hover{
              color: rgb(207, 207, 207);
            }
          }
          img{
            display: none;
          }
      }
    }
    .sidebar {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-height: 100%;
      position: fixed;
      top: 0;
      right: -300px;
      width: 250px;
      height: 100%;
      background-color: $bgTwo;
      transition: right 0.3s ease-in-out;
      padding: 20px;
      z-index: 1000;
      a{
        color: white;
        font-size: 20px;
        transition: 0.3s ease-out;
        &:hover{
          color: rgb(207, 207, 207);
        }
      }
      button{
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 18px;
      }
    }
    
    .sidebar.active {
        right: 0;
    }   
.Description{
        display: flex;
        flex-direction: column;
        .up{
            display: flex;
            justify-content: center;
            max-width: 1637px;
            padding-left: 50px;
            padding-bottom: 60px;
            width: 100%;
            a{
                font-size: 18px;
                font-weight: 400;
                line-height: 130%;
                color: #848386;
                text-decoration: underline;
            }
            p{
                font-size: 100px;
                font-weight: 500;
                letter-spacing: -2%;
                line-height: 0.8;
                color: #000;
            }
        }
        .down_container{
            max-width: 1920px;
            width: 100%;
            border-top: 1px #EAEAEA solid;
            .down{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 60px 50px 0px 50px;
                .romb_text{
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    img{
                        width: 18px;
                        height: 18px;
                    }
                    p{
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 130%;
                        color: #0a0a0a;
                        max-width: 262px;
                        width: 100%;
                    }
                }
                .gray{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 130%;
                    color: #848386;
                    max-width: 714px;
                    width: 100%;
                }
                .right{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    p{
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 130%;
                        color: #0a0a0a;
                    }
                    button{
                        width: 100%;
                        padding: 25px 154px;
                        background: #ffffff;
                        border-radius: 1000px;
                        border: 1px #848386 solid;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 120%;
                        color: #848386;
                        cursor: pointer;
                    }
                }
            }
        }
        
    }

    .Another{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;  
        padding: 100px 0px 0px 0px ;
        .title{
            display: flex;
            font-size: 64px;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: -2%;
            color:black;
            max-width: 997px;
            width: 100%;
        }
        .items{
            display: flex;
            flex-direction: column;
            border-bottom: 1px #EAEAEA solid;
            max-width: 1920px;
            width: 100%;
            .item{
                max-width: 1920px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 61px 50px 61px 50px;
                border-top: 1px #EAEAEA solid;
                position: relative; 
                overflow: visible;
                .first{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    max-width: 772px;
                    width: 100%;
                    .romb_text{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        img{
                            width: 18px;
                        }
                        p{
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 130%;
                        }
                    }
                    .name{
                        display: flex;
                        align-items: center;
                        max-width: 460px;
                        width: 100%;
                        font-size: 30px;
                        font-weight: 400;
                        line-height: 120%;
                        cursor: pointer;
                    }
                    a{
                        display: flex;
                        align-items: center;
                        max-width: 322px;
                        width: 100%;
                        font-size: 30px;
                        font-weight: 400;
                        line-height: 120%;
                        cursor: pointer;
                        color: #0a0a0a;
                    }

                }
                .second{
                    display: flex;
                    flex-direction: row;
                    max-width: 905px;
                    width: 100%;
                    justify-content: space-between;
                    .price{
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 130%;
                    }
                    .details{
                        color: #848386;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 130%;
                        text-decoration: underline;
                    }
                    .brown_detail{
                        color: #FFFBFC;
                    }
                }
                
                img.repair-photo {
                  position: absolute;
                  bottom: -80px; 
                  right: 580px;  
                  z-index: 10;
                  height: 322px; 
                }
                
            }
            .blue{
                background: $bgTwo;
                color: #FFFBFC;
            }
        }
    }
    .modal {
        display: none; 
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
        textarea{
          resize: none;
        }
      }
      .modal-content {
        background-color: #fff;
        margin: 10% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px 30px;
        border-radius: 20px;
        width: 90%;
        max-width: 500px;
        position: relative;
        h3{
          font-size: 24px;
        }
      }
      .close-btn {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 28px;
        font-weight: medium;
        color: #333;
        cursor: pointer;
      }
      .order-form {
        display: flex !important;
        width: 100%;
        flex-direction: column !important;
        gap: 30px !important;
      }
      .order-form input,.order-form textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
      }
      .order-form button {
        background-color: $bgTwo;
        color: white;
        padding: 12px;
        font-size: 16px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s ease-out;
        &:hover{
          background-color: $bgOne;
        }
      }
      .successMessage{
        display: none;
        color: green;
      }
footer {
  display: flex;
  justify-content: center;
  background-color: $bgOne;
  color: white;
  padding: 60px 20px;
  font-size: 22px;
  margin-top: 200px;
  .content {
    width: 100%;
    max-width: 1613px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 50px;
      nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
        a {
          color: white;
          text-decoration: none;
          font-size: 24px;
          transition: 0.3s ease-out;
          &:hover{
            color: rgb(207, 207, 207);
          }
        }
      }
      .contact {
        display: flex;
        a{
          color: white;
          text-decoration: none;
          font-size: 24px;
          transition: 0.3s ease-out;
          &:hover{
            color: rgb(207, 207, 207);
          }
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-size: 16px;
      gap: 50px;
      p {
        margin: 0;
        font-size: 24px;
      }
    }
  }
}
@media(max-width: 1280px){
    .Description{
        .up{
            .title{
                font-size: 64px;
            }
        }
        .down_container{
            .down{
                flex-direction: column;
            }
        }
    }
    .Another{
        .title{
            font-size: 48px;
        }
    }
}
@media (max-width: 1069px){
    header{
      .logo{
        img{
          width: 100px;
        }
      }
      nav{
        a{
          font-size: 16px;
        }
      }
    }
}
@media (max-width: 900px){
    header{
      nav{
        a{
          display: none;
        }
        img{
          display: flex !important;
        }
      }
  
    }
}
@media (max-width: 808px){
    .Another{
        .items{
            .item.blue{
                flex-direction: column;
                gap: 20px;
                .first{
                   .name{
                    font-size: 22px;
                   }
                }
                .second{
                    flex-direction: column;
                    gap: 20px;
                    .price{
                        font-size: 20px;
                    }
                    .details{
                        font-size: 20px;
                    }
                }
            }
            .item.white{
                flex-direction: column;
                gap: 20px;
                .first{
                   .name{
                    font-size: 22px;
                   }
                }
                .second{
                    flex-direction: column;
                    gap: 20px;
                    .price{
                        font-size: 20px;
                    }
                    .details{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
@media (max-width: 614px){
    .Description{
        .up{
            .title{
                font-size: 48px;
            }
        }
    }
    .Another{
        .title{
            font-size: 32px;
        }
    }
}
@media (max-width: 546px){
    .Description{
        .down_container{
            .down{
                .right{
                    button{
                        padding: 25px;
                        width: 100%;
                    }
                }
            }
        }
    }
}